.home-page{
    background-color: chartreuse;
}

.home-page-title{
    text-align: center;
}

.home-page-quote{
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    border: coral;
    background-color: cornflowerblue;
    border-radius: 5px;
    float: left;
    border-width: 3px;
    align-content: center;
}

.box:hover{
    background-color: darkblue;
}