.home-page{
    background-color: chartreuse;
}

.home-page-title{
    text-align: center;
}

.home-page-quote{
    text-align: center;
}

.box{
    width: 10px;
    height: 10px;
    border: coral;
    background-color: cornflowerblue;
    border-radius: 5px;
}