.home-page{
    background-color: chartreuse;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.home-page-title{
    text-align: center;
    font-size: 100px;
}

.home-page-quote{
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    border: coral;
    background-color: cornflowerblue;
    border-radius: 5px;
    float: left;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box:hover{
    background-color: darkblue;
}

.timebound-button{
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: darkgray;
    font-weight: bold;
}

.timebound-button:hover{
    background-color: darkslategrey;
}